In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |████████████████████████████████| 204.2MB 76kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 31.3MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612243 sha256=708273b81d9c0e736dd3f58c8bad8ea5bc9a96f733416f88a43ec04f2ea30719
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1

In [ ]:
from __future__ import division
from pyspark import SparkConf, SparkContext, SQLContext
import pyspark.sql.functions as F

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
conf = SparkConf().setMaster("local[*]")
sc = SparkContext(conf=conf)
sqlContext = SQLContext(sc)

In [ ]:
df = sqlContext.read.csv('athlete_events.csv', header=True)

In [ ]:
df_performance = df.select(['NOC', 'Medal']).filter(~df['Medal'].isin(['Gold', 'Silver', 'Bronze']) == False).
groupby(['NOC', 'Medal']).count().orderBy('NOC', 'Medal')

In [ ]:
df_performance.show()

+---+------+-----+
|NOC| Medal|count|
+---+------+-----+
|AHO|Silver|    1|
|ALG|Bronze|    2|
|ALG|  Gold|    1|
|ALG|Silver|    2|
|ANZ|Bronze|    2|
|ANZ|  Gold|    3|
|ANZ|Silver|    3|
|ARG|Bronze|   16|
|ARG|  Gold|   11|
|ARG|Silver|   19|
|ARM|Bronze|    2|
|ARM|  Gold|    1|
|ARM|Silver|    1|
|AUS|Bronze|   87|
|AUS|  Gold|   47|
|AUS|Silver|   72|
|AUT|Bronze|    6|
|AUT|  Gold|    8|
|AUT|Silver|   15|
|AZE|Bronze|    5|
+---+------+-----+
only showing top 20 rows

In [ ]:
df_bmi = df.select(['Year','Weight','Height'])
df_bmi = df_bmi.filter(~df_bmi['Height'].isin(['NA']) == True)
df_bmi = df_bmi.filter(~df_bmi['Year'].isin([x for x in range(1900, 2017)]) == False)
df_bmi_avg = df_bmi.withColumn("BMI", F.col('Weight')/(F.col('Height')/100)**2).select(['Year','BMI']).groupby('Year').avg()
df_bmi_avg = df_bmi_avg.orderBy('Year')
df_bmi_avg.show()

+----+------------------+
|Year|          avg(BMI)|
+----+------------------+
|1900|27.757487216946675|
|1904| 21.63186790149742|
|1906|22.882972491691703|
|1908|23.650597084429958|
|1912|22.724233045635465|
|1920| 23.17853025170637|
|1924|23.370463021632947|
|1928|22.280582934439167|
|1932|23.438062458132315|
|1936|22.791167518844507|
|1948|23.063659726311343|
|1952| 23.45656549567396|
|1956|23.611457971043507|
|1960|22.950775690842296|
|1964|22.824364923825573|
|1968|22.618188985743274|
|1972|22.692729816825086|
|1976|22.790800677838096|
|1980| 22.80151509668998|
|1984|22.687699253011786|
+----+------------------+
only showing top 20 rows

In [ ]:
df_bmi = df.select(['Year','Weight','Height'])
df_bmi = df_bmi.filter(~df_bmi['Height'].isin(['NA']) == True) # Cleaning NA values
df_bmi = df_bmi.filter(~df_bmi['Year'].isin([x for x in range(1900, 2017)]) == False) # Cleaning Non Integer values
df_bmi_avg = df_bmi.withColumn("BMI", F.col('Weight')/(F.col('Height')/100)**2).select(['Year','BMI']).groupby('Year').avg()
df_bmi_avg = df_bmi_avg.orderBy('Year')